<h2 class="text-center mt-4"><%= @category.name %> category</h2>
<% if logged_in? && current_user %>
  <div class="text-center mt-4">
    <%= link_to "Edit category", edit_category_path(@category), container: false, class: "btn btn-outline-info" %>
    <%= link_to "Delete category", category_path(@category), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
<h3 class="text-center mt-4">Articles</h3>
<%= will_paginate @articles, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
<%= render "articles/articles" %>